<footer>
    <div class="footer-sections">

        <div class="one">
            <img src="/img/logo.png" alt="footer Logo">
            <h1>Recipe Mania</h1>
        </div>

    </div>


</footer>

<!-- Form Show and Close Scripts -->
<script type="text/javascript" src="/script.js"></script>
</body>

</html>