<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <!-- Nav Bar -->
    <div class="nav-container">
        <nav class="primary-nav-bar">

            <img src="/img/logo.png" alt="sitelogo">
            <h1>Recipe Mania</h1>

        </nav>
    </div>